<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<title>Form Styles | Dashboard Admin</title> 
	
	<link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/text.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/form.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/buttons.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/grid.css" type="text/css" media="screen" title="no title" />	
	<link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen" title="no title" />	
	
	<link rel="stylesheet" href="../css/ui-darkness/jquery-ui-1.8.12.custom.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/jquery.visualize.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/facebox.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/uniform.default.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/dataTables.css" type="text/css" media="screen" title="no title" />
	
	<link rel="stylesheet" href="../css/custom.css" type="text/css" media="screen" title="no title" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 
 
<body> 

<div id="wrapper">
	
	<div id="top">
		
		<div class="content_pad">			
			<ul class="right">
				<li><a href="" class="top_icon"><span class="ui-icon ui-icon-person"></span>Logged in as John Doe</a></li>
				<li><a href="" class="new_messages top_alert">1 New Message</a></li>
				<li><a href="./settings.html">Settings</a></li>
				<li><a href="../index.html">Logout</a></li>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #top -->	
	
	<div id="header">
		
		<div class="content_pad">
			<h1><a href="../dashboard.html">Dashboard Admin</a></h1>
			
			<ul id="nav">
				<li class="nav_icon"><a href="../dashboard.html"><span class="ui-icon ui-icon-home"></span>Home</a></li>

				<li class="nav_dropdown nav_current nav_icon">
					<a href=""><span class="ui-icon ui-icon-gripsmall-diagonal-se"></span>Styles</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="./text.html">Buttons &amp; Text</a></li>	
							<li><a href="./grid.html">Grid Layout</a></li>	
							<li><a href="./tables.html">Tables</a></li>	
							<li><a href="./forms.html">Forms</a></li>	
							<li><a href="./charts.html">Charts</a></li>						
						</ul>
						
					</div>
				</li>
				
				<li class="nav_icon"><a href="./widgets.html"><span class="ui-icon ui-icon-gear"></span>Widgets</a></li>
				<li class="nav_icon"><a href="./reports.html"><span class="ui-icon ui-icon-signal"></span>Reports</a></li>
				
				<li class="nav_dropdown nav_icon_only">
					<a href="">&nbsp;</a>
					
					<div class="nav_menu">
						
						<ul>
							<li><a href="">Overflow Menu</a></li>
							<li><a href="">Items Can</a></li>
							<li><a href="">Go Here</a></li>
						</ul>
					</div> <!-- .menu -->
				</li>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #header -->	
	
	<div id="masthead">
		
		<div class="content_pad">
			
			<h1 class="">Form Styles</h1>
			
			<div id="bread_crumbs">
				<a href="../dashboard.html">Home</a> / 
				<a href="" class="current_page">Form Styles</a>				
			 </div> <!-- #bread_crumbs -->
			
			<div id="search">
				<form action="http://madebyamp.com/search" method="get" />
					<input type="text" value="" placeholder="Search" name="search" id="search_input" title="Search" />					
					<input type="submit" value="" name="submit" class="submit" />					
				</form>
			</div> <!-- #search -->
			
		</div> <!-- .content_pad -->
		
	</div> <!-- #masthead -->	
	
	<div id="content" class="xgrid">
		
		<div class="x12">
			
			<form action="#" method="post" class="form label-inline uniform" />
	
							<div class="field"><label for="fname">First Name </label> <input id="fname" name="fname" size="50" type="text" class="medium" /></div>
				
							<div class="field"><label for="lname">Last Name </label> <input id="lname" name="lname" size="50" type="text" class="medium" /></div>
							
							<div class="field"><label for="address1">Address 1 </label> <input id="address1" size="50" type="text" class="large" /></div>
							<div class="field"><label for="address2">Address 2</label> <input id="address2" size="50" type="text" class="large" /></div>

							<div class="field"><label for="country" class="">Country </label> <input id="country" name="country" size="12" type="text" class="medium" />
				
								<p class="field_help">Field help text.</p>
							</div>
							<div class="field phone_field"><label for="telephone">Telephone</label> <input id="telephone" size="3" type="text" class="xsmall" /> - <input size="3" type="text" class="xsmall" /> - <input size="4" type="text" class="xsmall" />

								<p class="field_help">(###) - ### - ####</p>
				
							</div>
							
							<div class="field clearfix">								
								<label for="lname">File Upload </label> 								
								<input style="opacity: 0;" class="file" type="file" />								
							</div>
							
							
							
							<div class="field">
								<label for="type">Type </label>
								<select id="type" class="medium">

									<optgroup label="Type of Whatever">
										<option selected="selected" />Corporate
										<option />Individual
				
									</optgroup>
								</select>
							</div>
		
				
							<div class="controlset field">
								<span class="label">Preferred Location</span>

								
								<div class="controlset-pad">
								<input name="radio1" id="radio1" value="1" type="radio" /> <label for="radio1">Option 1</label><br />
								<input name="radio1" id="radio2" value="1" type="radio" /> <label for="radio2">Option 2</label><br />
				
								<input name="radio1" id="radio3" value="1" type="radio" /> <label for="radio3">Option 3</label><br />
								</div>
							</div>			
				
							<div class="controlset field">

								<span class="label">Something Else </span>
								<div class="controlset-pad">
									<input name="approved" id="check1" value="1" type="checkbox" />  <label for="check1">Some Option 1</label><br />
				
									<input name="pending" id="check2" value="1" type="checkbox" />  <label for="check2">Some Option 2</label><br />
									<input name="actives" id="check3" value="1" type="checkbox" /> <label for="check3">Some Option 3</label><br />

								</div>
							</div>	
							
							
							<div class="field"><label for="description">Description</label> <textarea rows="7" cols="50" id="description" name="description"></textarea></div>
							
							<br />
							<div class="buttonrow">
								<button class="btn">Primary Action</button>
								<button class="btn btn-black">Secondary Action</button>
								<button class="btn btn-grey">Tertiary Action</button>
							</div>

						</form>
			
		</div> <!-- .x12 -->
		
	</div> <!-- #content -->
	
	<div id="footer">		
		<div class="content_pad">			
			<p>&copy; 2010-11 Copyright <a href="http://madebyamp.com/">MadeByAmp</a>. Powered by <a href="../index.html">Dashboard Admin</a>.</p>
		</div> <!-- .content_pad -->
	</div> <!-- #footer -->		
	
</div> <!-- #wrapper -->

<script src="../js/jquery/jquery-1.5.2.min.js"></script>
<script src="../js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
<script src="../js/misc/excanvas.min.js"></script>
<script src="../js/jquery/facebox.js"></script>
<script src="../js/jquery/jquery.visualize.js"></script>
<script src="../js/jquery/jquery.dataTables.min.js"></script>
<script src="../js/jquery/jquery.tablesorter.min.js"></script>
<script src="../js/jquery/jquery.uniform.min.js"></script>
<script src="../js/jquery/jquery.placeholder.min.js"></script>

<script src="../js/widgets.js"></script>
<script src="../js/dashboard.js"></script>

<script>
	
$(document).ready ( function () 
{
	Dashboard.init ();
});

</script>

</body> 
 
</html>