<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<title>Text Styles | Dashboard Admin</title> 
	
	<link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/text.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/form.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/buttons.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/grid.css" type="text/css" media="screen" title="no title" />	
	<link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen" title="no title" />	
	
	<link rel="stylesheet" href="../css/ui-darkness/jquery-ui-1.8.12.custom.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/jquery.visualize.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/facebox.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/uniform.default.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../css/plugin/dataTables.css" type="text/css" media="screen" title="no title" />
	
	<link rel="stylesheet" href="../css/custom.css" type="text/css" media="screen" title="no title" />
	
	<style type="text/css" media="screen">
		button,
		a.btn-mini { margin-bottom: 1.5em !important; margin-right: .5em !important; }
	</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 
 
<body> 

<div id="wrapper">
	
	<div id="top">
		
		<div class="content_pad">			
			<ul class="right">
				<li><a href="" class="top_icon"><span class="ui-icon ui-icon-person"></span>Logged in as John Doe</a></li>
				<li><a href="" class="new_messages top_alert">1 New Message</a></li>
				<li><a href="./settings.html">Settings</a></li>
				<li><a href="../index.html">Logout</a></li>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #top -->	
	
	<div id="header">
		
		<div class="content_pad">
			<h1><a href="../dashboard.html">Dashboard Admin</a></h1>
			
			<ul id="nav">
				<li class="nav_icon"><a href="../dashboard.html"><span class="ui-icon ui-icon-home"></span>Home</a></li>

				<li class="nav_dropdown nav_current nav_icon">
					<a href=""><span class="ui-icon ui-icon-gripsmall-diagonal-se"></span>Styles</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="./text.html">Buttons &amp; Text</a></li>	
							<li><a href="./grid.html">Grid Layout</a></li>	
							<li><a href="./tables.html">Tables</a></li>	
							<li><a href="./forms.html">Forms</a></li>	
							<li><a href="./charts.html">Charts</a></li>						
						</ul>
						
					</div>
				</li>
				
				<li class="nav_icon"><a href="./widgets.html"><span class="ui-icon ui-icon-gear"></span>Widgets</a></li>
				<li class="nav_icon"><a href="./reports.html"><span class="ui-icon ui-icon-signal"></span>Reports</a></li>
				
				<li class="nav_dropdown nav_icon_only">
					<a href="">&nbsp;</a>
					
					<div class="nav_menu">
						
						<ul>
							<li><a href="">Overflow Menu</a></li>
							<li><a href="">Items Can</a></li>
							<li><a href="">Go Here</a></li>
						</ul>
					</div> <!-- .menu -->
				</li>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #header -->	
	
	<div id="masthead">
		
		<div class="content_pad">
			
			<h1 class="">Text Styles</h1>
			
			<div id="bread_crumbs">
				<a href="../dashboard.html">Home</a> / 
				<a href="" class="current_page">Text Styles</a>				
			 </div> <!-- #bread_crumbs -->
			
			<div id="search">
				<form action="http://madebyamp.com/search" method="get" />
					<input type="text" value="" placeholder="Search" name="search" id="search_input" title="Search" />					
					<input type="submit" value="" name="submit" class="submit" />					
				</form>
			</div> <!-- #search -->
			
		</div> <!-- .content_pad -->
		
	</div> <!-- #masthead -->	
	
	<div id="content" class="xgrid">
		
		<div class="x5 a1"><h2>Heading Styles</h2>
				<h1>Level 1 heading</h1>
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				
				<h2>Level 02 Heading</h2>
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				
				<h3>Level 03 Heading</h3>
				
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				<h4>Level 04 Heading</h4>
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				<h5>Level 05 Heading</h5>
				
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				<h6>Level 06 Heading</h6>
				<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in.</p>
				
			
		</div> <!-- .x5 -->
		
		
		
		
		<div class="x6"><h2>Button Styles</h2>
				
				<h4>Sizes</h4>
				<button class="btn btn-small">Small Button</button>
				<button class="btn">Regular Button</button>
				<button class="btn btn-large">Large Button</button>
				
				<br /><br />
				

			
				<h4>Mini</h4>
				<a class="btn-mini btn-black btn-comment"><span></span>Comment</a>

				<a class="btn-mini btn-black btn-heart"><span></span>Like</a>
				<a class="btn-mini btn-black btn-star"><span></span>Favorite</a>
				<a class="btn-mini btn-black btn-cart"><span></span>Shopping Cart</a>
				<a class="btn-mini btn-black btn-print"><span></span>Print Page</a>
				<a class="btn-mini btn-black btn-rss"><span></span>RSS Feed</a>
				
				
				<a class="btn-mini btn-black btn-person"><span></span>Add User</a>
			
				<a class="btn-mini btn-black btn-check"><span></span>Accept</a>
				<a class="btn-mini btn-black btn-dollar"><span></span>Money</a>
				<a class="btn-mini btn-black btn-refresh"><span></span>Refresh</a>
				<a class="btn-mini btn-black btn-home"><span></span>Go Home</a>
				<a class="btn-mini btn-black btn-plus"><span></span>Add</a>
				
				
				<a class="btn-mini btn-black btn-minus"><span></span>Remove</a>
			
				<a class="btn-mini btn-black btn-cross"><span></span>Delete</a>
				<a class="btn-mini btn-black btn-arrow-left"><span></span>Left</a>
				<a class="btn-mini btn-black btn-arrow-right"><span></span>Right</a>
				<a class="btn-mini btn-black btn-arrow-up"><span></span>Up</a>
				<a class="btn-mini btn-black btn-arrow-down"><span></span>Down</a>
				
				
				
				
				<br /><br />
				

			
				<h4>Icon</h4>
				<button class="btn-icon btn-grey btn-comment"><span></span>Comment</button>

				<button class="btn-icon btn-grey btn-heart"><span></span>Like</button>
				<button class="btn-icon btn-grey btn-star"><span></span>Favorite</button>
				<button class="btn-icon btn-grey btn-cart"><span></span>Shopping Cart</button>
				<button class="btn-icon btn-grey btn-print"><span></span>Print Page</button>
				<button class="btn-icon btn-grey btn-rss"><span></span>RSS Feed</button>
				
				
				<button class="btn-icon btn-grey btn-person"><span></span>Add User</button>
			
				<button class="btn-icon btn-grey btn-check"><span></span>Accept</button>
				<button class="btn-icon btn-grey btn-dollar"><span></span>Money</button>
				<button class="btn-icon btn-grey btn-refresh"><span></span>Refresh</button>
				<button class="btn-icon btn-grey btn-home"><span></span>Go Home</button>
				<button class="btn-icon btn-grey btn-plus"><span></span>Add</button>
				
				
				<button class="btn-icon btn-grey btn-minus"><span></span>Remove</button>
			
				<button class="btn-icon btn-grey btn-cross"><span></span>Delete</button>
				<button class="btn-icon btn-grey btn-arrow-left"><span></span>Left</button>
				<button class="btn-icon btn-grey btn-arrow-right"><span></span>Right</button>
				<button class="btn-icon btn-grey btn-arrow-up"><span></span>Up</button>
				<button class="btn-icon btn-grey btn-arrow-down"><span></span>Down</button>
				
				<br /><br />
				
				<h4>Extra Colors</h4>
				
				<button class="btn btn-blue">Button</button>

				<button class="btn btn-orange">Button</button>
				<button class="btn btn-red">Button</button>
				<button class="btn btn-green">Button</button>
				<button class="btn btn-black">Button</button>
				<button class="btn btn-purple">Button</button>
				<button class="btn btn-navy">Button</button>
			
				<button class="btn btn-maroon">Button</button>
				<button class="btn btn-grey">Button</button>
				<button class="btn btn-yellow">Button</button>
				<button class="btn btn-teal">Button</button>
				<button class="btn btn-pink">Button</button>

		</div> <!-- .x6 -->
		
		<div class="xbreak"></div> <!-- .xbreak -->
		
		
		
		<div class="x6"><h2>Tables Styles</h2>
				<table class="data display">
					<thead>
						<tr>
							<th>Rendering engine</th>
							<th>Browser</th>
							<th>Platform(s)</th>
							<th>Engine version</th>
							<th>CSS grade</th>
						</tr>
					</thead>
					<tbody>
<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="even gradeC">
							<td>Trident</td>
							<td>Internet
								 Explorer 5.0</td>
							<td>Win 95+</td>
							<td class="center">5</td>
							<td class="center">C</td>
						</tr>
						<tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet
								 Explorer 5.5</td>
							<td>Win 95+</td>
							<td class="center">5.5</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Trident</td>
							<td>Internet
								 Explorer 6</td>
							<td>Win 98+</td>
							<td class="center">6</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet Explorer 7</td>
							<td>Win XP SP2+</td>
							<td class="center">7</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Trident</td>
							<td>AOL browser (AOL desktop)</td>
							<td>Win XP</td>
							<td class="center">6</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Gecko</td>
							<td>Firefox 1.0</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Gecko</td>
							<td>Firefox 1.5</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Gecko</td>
							<td>Firefox 2.0</td>
							<td>Win 98+ / OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Gecko</td>
							<td>Firefox 3.0</td>
							<td>Win 2k+ / OSX.3+</td>
							<td class="center">1.9</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Gecko</td>
							<td>Camino 1.0</td>
							<td>OSX.2+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Gecko</td>
							<td>Camino 1.5</td>
							<td>OSX.3+</td>
							<td class="center">1.8</td>
							<td class="center">A</td>
						</tr>
						<tr class="odd gradeA">
							<td>Gecko</td>
							<td>Netscape 7.2</td>
							<td>Win 95+ / Mac OS 8.6-9.2</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						<tr class="even gradeA">
							<td>Gecko</td>
							<td>Netscape Browser 8</td>
							<td>Win 98SE+</td>
							<td class="center">1.7</td>
							<td class="center">A</td>
						</tr>
						
						</tbody>

					</table>			
		</div> <!-- .x6 -->
		
		
		
		
		
		<div class="p1 x5"><h2>List Styles</h2>
				<h4>Unordered List</h4>
				<ul>
					<li>Unordered list 01</li>
					<li>Unordered list 02</li>
					<li>Unordered list 03
						<ul>
				
							<li>Unordered list inside list level 2</li>
				
							<li>Unordered list inside list level 2
								<ul>
									<li>Unordered list inside list level 3</li>
									<li>Unordered list inside list level 3</li>
								</ul>
							</li>
				
						</ul>
					</li>
				
				</ul>
				
				
				<br />
				<h4>Ordered List</h4>
				<ol>
					<li>Ordered list 01</li>
					<li>Ordered list 02</li>
					<li>Ordered list 03
						<ol>
				
							</ol></li><li>Ordered list inside list level 2</li>
				
							<li>Ordered list inside list level 2
								<ol>
				
									</ol></li><li>Ordered list inside list level 3</li>
									<li>Ordered list inside list level 3</li>
								
							
				
						
					
				
				
				<br />
				<h4>Definition List</h4>
				<dl>
					<dt>Description list title 01</dt>
				
					<dd>Description list description 01</dd>
					<dt>Description list title 02</dt>
				
					<dd>Description list description 02</dd>
					<dd>Description list description 03</dd>
				
				</dl>		
		</ol></div> <!-- .x5 -->
		
	</div> <!-- #content -->
	
	<div id="footer">		
		<div class="content_pad">			
			<p>&copy; 2010-11 Copyright <a href="http://madebyamp.com/">MadeByAmp</a>. Powered by <a href="../index.html">Dashboard Admin</a>.</p>
		</div> <!-- .content_pad -->
	</div> <!-- #footer -->		
	
</div> <!-- #wrapper -->

<script src="../js/jquery/jquery-1.5.2.min.js"></script>
<script src="../js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
<script src="../js/misc/excanvas.min.js"></script>
<script src="../js/jquery/facebox.js"></script>
<script src="../js/jquery/jquery.visualize.js"></script>
<script src="../js/jquery/jquery.dataTables.min.js"></script>
<script src="../js/jquery/jquery.tablesorter.min.js"></script>
<script src="../js/jquery/jquery.uniform.min.js"></script>
<script src="../js/jquery/jquery.placeholder.min.js"></script>

<script src="../js/widgets.js"></script>
<script src="../js/dashboard.js"></script>

<script>
	
$(document).ready ( function () 
{
	Dashboard.init ();
});

</script>

</body> 
 
</html>